#main {
	width: 800px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
	width: 200px;
	height: 200px;
	border: 3px solid black;
	display: inline-block;
	text-align: center;
	position: relative;
	margin; 0;
	vertical-align: top;
	background-color: lightblue;
}

.clear-box button{
	background-color: lightgreen;
	font-size: 75px;
	margin-left: 276px;
}	

body {
	font-size: 150px;
}

h1 {
	font-size: 50px;
	text-align: center;
}
